appdirs==1.4.4
arrow==0.17.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
dateparser==1.0.0
fake-useragent==0.1.11
Flask==1.1.2
Frozen-Flask==0.15
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
moment==0.12.1
parse==1.19.0
pdfkit==0.6.1
Pillow==8.1.0
pony==0.7.14
pyee==8.1.0
PyMuPDF==1.18.8
PyOpenGL==3.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
requests-html==0.10.0
selenium==3.141.0
six==1.15.0
slugify==0.0.1
soupsieve==2.2
times==0.7
tqdm==4.56.2
tzlocal==2.1
urllib3==1.26.3
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
xmltodict==0.12.0
zipp==3.4.0
