body {
    
}
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
}

.page {
    background-color: rgb(240, 240, 240);
    color: #464646;
}
.book {
    text-align: center;
    background-color: #FFF;
    padding: 15px 0;
}
.book p {
    margin-bottom: 0;
}
.book .publisher {
    font-weight: bold;
    font-size: 0.8rem;
}
.book .title {
    font-size: 1.1rem;
    height: 50px;
}

.book h3 a {
    font-size: 1.1rem;
    color: #464646;
}
.book h4 a {
    font-size: 0.9rem;
    color: #464646;
}
.container-book {
    height: 350px;
    vertical-align: middle;
    display: table-cell;
}
.container-data {
    height: 125px;
}