body {
    background: #F0F0F0;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
}

img {
    margin: 0 auto !important;
    display: block;
}

.dark_mode {
    background-color: #000;
    color: #FFF;
}

.dark_mode .navbar-brand img {
    fill: #FFF;
}

.dark_mode .modal-content {
    background-color: #000;
    color: #FFF;
}

.dark_mode .book {
    color: #FFF !important;
}

.dark_mode .page {
    background-color: #000;
    color: #FFF;
}

.dark_mode svg {
    fill: #FFF;
}

.configuration {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.toppage {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.viewer .title {
    font-size: 1.1rem;
    font-weight: bold;
}

.controls {
    position: fixed;
    top: 86px;
}

.controls .col {
    min-height: 100vh;
}

.directory {
    padding: 5px 0;
    position: relative;
}

.directory .title {
    position: absolute;
    color: #FFF;
    top: 5px;
    padding: 0 10px;
    text-align: left;
    left: 0;
}

.directory .container-directory {
    background-color: #5967F9;
    height: 350px;
    display: flex;
    align-items: center;
}

.directory svg {
    margin: auto;
    display: block;
}

.book {
    position: relative;
    padding: 5px 0;
}

.book .title {
    font-size: 1rem;
    position: absolute;
    color: #FFF;
    background-color: #5967F9;
    top: 5px;
    padding: 0 10px;
    text-align: left;
    left: 0;
}

.book .size {
    position: absolute;
    color: #FFF;
    background-color: #5967F9;
    padding: 0 10px;
    bottom: 5px;
    right: 0px;
    font-size: 0.9rem;
}

.book .container-book img {
    max-height: 350px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.51);
}

.page {
    color: #464646;
}

.toast-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}