body {
    background: #F0F0F0;
}
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
}
img {
    margin: 0 auto !important;
    display: block;
}

.dark {
    background-color: #000;
}

.configuration {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}
.toppage {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.viewer .title {
    font-size: 1.1rem;
    font-weight: bold;
}

.controls  {
    position: fixed;
    top: 86px;
}
.controls .col {
    min-height: 100vh;
}

.book {
    text-align: center;
    padding: 5px 0;
    color: #464646 !important;
}
.book .title {
    font-size: 1.1rem;
    font-weight: bold;
}
.container-book img {
    height: 300px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.51);
}
.container-data {
    height: 85px;
}

.page {
    background-color: rgb(240, 240, 240);
    color: #464646;
}

.toast-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}