<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>hattusa</title>

        <link href="/static/lib/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/base.css" rel="stylesheet">
    </head>
    <body class="{% if dark_mode == 'true' %}dark_mode{% endif %}">
        <nav class="navbar">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="/">
                    {% if dark_mode == 'true' %}
                        <img id="logo" src="/static/logo_white.svg" alt="logo hattusa" height="60px">
                    {% else %}
                        <img id="logo" src="/static/logo.svg" alt="logo hattusa" height="60px">
                    {% endif %}
                </a>
            </div>
        </nav>

        <div class="configuration">
            <a href="#" data-bs-toggle="modal" data-bs-target="#configuration" title="configuration">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#22255B" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </a>
        </div>

        <div class="toppage">
            <a href="#" onclick="toppage()" title="move up">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#22255B" class="bi bi-capslock-fill" viewBox="0 0 16 16">
                    <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
                </svg>
            </a>
        </div>

        {% block content %}{% endblock %}

        <div class="modal fade" id="configuration" tabindex="-1" data-bs-backdrop="static" aria-labelledby="configurationLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="configurationLabel">Configuration</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You can set the dark mode <a href="#" class="btn btn-primary ml-auto ms-2" id="theme-toggler" onclick="dark_mode()">Dark mode</a></p>

                        <p>To change the file paths, to avoid errors, it can only be done by modifying the configuration.py file and restarting the application.</p>

                        <div class="mb-2">
                            <label for="path_books" class="form-label">Path books</label>
                            <input type="text" class="form-control" id="path_books" name="path_books" value="/books/" readonly>
                        </div>
                        <div class="mb-2">
                            <label for="path_covers" class="form-label">Path covers</label>
                            <input type="text" class="form-control" id="path_covers" name="path_covers" value="static/covers/" readonly>
                        </div>
                        <div class="mb-2">
                            <label for="path_temp" class="form-label">Temporary files</label>
                            <input type="text" class="form-control" id="path_temp" name="path_temp" value="/static/temp/" readonly>
                        </div>

                        <div class="mb-2">
                            <a href="/synchronization" class="btn btn-warning">Synchronize books</a>
                            <span class="inline">Synchronization, removes books from the database, cache and covers. Leaving only the information of the books that exist.</span>
                        </div>
                        <div class="mb-2">
                            <a href="/removes_covers" class="btn btn-danger">Removes the covers</a>
                            <span class="inline">If you delete covers with synchronized books, the images may disappear.</span>
                        </div>
                        <div class="mb-2">
                            <a href="/delete_cache" class="btn btn-danger">Delete cache</a>
                            <span class="inline">There is no problem deleting the cache, but do it when there is no open reading, in that case the content may not load correctly.</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container">
            {% if toasts %}
                {% for toast in toasts %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                        <div class="toast-header">
                            <strong class="me-auto">Hattusa</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{toast}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <script src="/static/lib/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
        <script src="/static/lib/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/js.cookie-3.0.0/js.cookie.min.js"></script>

        {% block script %}{% endblock %}

        <script>
            function dark_mode() {
                var element = document.body;
                element.classList.toggle("dark_mode");

                if (element.classList.contains("dark_mode")) {
                    Cookies.set("dark_mode", "true");
                    document.getElementById("logo").src="/static/logo_white.svg";
                } else {
                    Cookies.set("dark_mode", "false");
                    document.getElementById("logo").src="/static/logo.svg";
                }

                console.log(Cookies.get("dark_mode"));
            }
            function toppage() {
                $('html,body').scrollTop(0);
            }

            $(document).ready(function() {
                $(".toast").toast('show');
            });
        </script>
    </body>
</html>