{% extends "base.html" %}

{% block content %}

{% if books %}
<div class="container-fluid">
    <div class="row">
        {% for book in books %}
            <div class="col-sm-3 col-lg-2 col-xl-2 mt-4">
                <div class="book rounded">
                    <div class="container-book">
                        <a href="/viewer/{{book.id}}" class="mx-auto d-block"><img class="img-fluid rounded" src="{{book.cover}}"></a>
                    </div>
                    <div class="container-data p-2">
                        <span class="title">{{book.title}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            No books detected yet.
        </div>
    </div>
</div>
{% endif %}

{% endblock %}