{% extends "base.html" %}

{% block content %}
    <div class="container viewer">
        <div class="row">
            <div class="col text-center">
                <span class="title">{{title}}</span> -
                <span class="page">Page {{page}}</span>
            </div>
        </div>
    </div>

    <div class="container-fluid controls">
        <div class="row">
            <a class="col" href="/viewer/{{id_book}}/{{page - 1}}" title="back"></a>
            <a class="col" href="/viewer/{{id_book}}/{{page + 1}}" title="forward"></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col page mt-3 pt-0">
                {{content|safe}}
            </div>
        </div>
    </div>
{% endblock %}